<div style="min-width: 100%; min-height: 200%; background-color: rgb(221, 171, 163);">
    <br>
    <div class="container" style="max-width: 600px; ">
        <h2 calss="textual" style="text-align:center">Registration Form </h2>
        <form #Registerform="ngForm" (ngSubmit)="registerUser()">
            <small class="text-danger">{{msg}}</small>


            <div class="form-group">
                <label for="userid">Userid:</label>
                <input type="text" class="form-control" placeholder="Enter userid" name="userid"
                    [(ngModel)]="user.userid" #userid="ngModel" required pattern="^[a-zA-Z][a-zA-Z0-9.,$;]+$"
                    [class.is-invalid]="userid.invalid && userid.touched">
                <small class="text-danger" [class.d-none]="userid.valid || userid.untouched ">UserId is required</small>
            </div>


            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" name="email"
                    [(ngModel)]="user.emailId" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                    [class.is-invalid]="email.invalid && email.touched">
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                    <small class="text-danger" *ngIf="email.errors.required">EmailId is required</small>
                    <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid emailid</small>
                </div>
            </div>


            <div class="form-group">
                <label for="phoneno">PhoneNo:</label>
                <input type="text" class="form-control" placeholder="Enter phoneno" name="phoneno"
                    [(ngModel)]="user.phoneno" #phoneno="ngModel" required pattern="^[2-9]{1}[0-9]{9}$"
                    [class.is-invalid]="phoneno.invalid && phoneno.touched">
                <small class="text-danger" [class.d-none]="phoneno.valid || phoneno.untouched ">PhoneNo is
                    required and and must be 10 digits</small>
            </div>



            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name="password"
                    [(ngModel)]="user.password" #password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    [class.is-invalid]="password.invalid && password.touched">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched ">Password is
                    required </small>
            </div>


            <div class="form-group">
                <label for="pwd">Confirm Password:</label>
                <input type="password" class="form-control" placeholder="Enter Confirm password" name="cpassword"
                    #cpassword="ngModel" [(ngModel)]="user.cpassword" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    [class.is-invalid]="cpassword.invalid && cpassword.touched">
                <small class="text-danger"
                    [class.d-none]="(cpassword.value == password.value ) || cpassword.untouched ">Password & Confirm
                    Password must be same</small>
            </div>


            <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-info">Register</button>
            <br><br>
            <button type="submit" class="btn btn-info"><small class="float-right btextual" [routerLink]="['/login']">Existing User ? Please Login here</small></button>
        </form>
        <br>
        <br>
    </div>
</div>